# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# Composio
COMPOSIO_API_KEY=

# Exa
EXA_API_KEY=

# LLM
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# DB
DATABASE_URL=postgresql://...

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
